.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: ghostwhite;
}

.card {
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  height: 150px;
  width: 300px;
  display: flex;
  background-color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile {
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
